[MASTER]
disable=missing-module-docstring,
        missing-final-newline,
        line-too-long,
        unused-import,
        broad-exception-caught,
        logging-fstring-interpolation,
        too-many-arguments,
        too-many-positional-arguments,
        import-outside-toplevel,
        raise-missing-from,
        too-many-branches,
        too-few-public-methods,
        wrong-import-order,
        reimported,
        wrong-import-position,
        no-else-return,
        global-variable-undefined,
        too-many-statements,
        consider-using-sys-exit,
        ungrouped-imports,
        duplicate-code,
        unnecessary-pass,
        unused-variable